body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.scroll-to-top-btn{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 5s ease;
}

.card .card-content .card-title i {
    line-height: 32px;
}

.align-with-material-icon-div > i{
    vertical-align: middle;
}
.align-with-material-icon-a > i{
    vertical-align: bottom;
}

.material-icons.right{
    margin-left: 0px!important;
}