<div class="col s12 m7">
    <h2 class="header">
        About Me
    </h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="../../assets/img/selfie.jpg" class="img-responsive">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <p class="flow-text align-with-material-icon-div">
                <i class="material-icons">person</i> Josué Zatarain Espinosa
                <br>
                <i class="material-icons">flag</i> Mexican
                <br><br>
                A software developer that loves coding and photography!
            </p>
        </div>
        <div class="card-action">
            <a href="mailto:ejosue.15@gmail.com">
                <i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
            </a>
            <a href="https://stackoverflow.com/story/jzatarain">
                 <i class="fa fa-stack-overflow fa-lg" aria-hidden="true"></i>
            </a>
        </div>
      </div>
    </div>
  </div>