<div class="hoverable" ng-switch="vm.dailyImage.media_type" ng-cloak >
    <div class="card" ng-switch-when="image">
        <div class="card-image waves-effect waves-block waves-light">
            <img ng-src="{{vm.dailyImage.url}}" class="activator"></img>
            <span class="card-title flow-text">Welcome</span>
        </div>
        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">
                <p class="align-with-material-icon-div flow-text">
                    <i class="material-icons">photo</i>
                    Image of the day via the NASA
                    <i class="material-icons right">more_vert</i>
                </p>
            </span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                {{vm.dailyImage.title}}<i class="material-icons right">close</i>
            </span>
            <p class="flow-text">{{vm.dailyImage.explanation}}</p>
        </div>
    </div>
    
    <div class="card" ng-switch-when="video">
        <div class="video-container card-image">
            <iframe class="responsive-img" ng-video-src vsrc="{{vm.dailyImage.url}}"></iframe>
        </div>
        <div class="card-content">
            <span class="card-title">
                <p class="flow-text align-with-material-icon-div">
                    <i class="material-icons">videocam</i>
                    Video of the day via the NASA
                    <i class="material-icons right activator">more_vert</i>
                </p>
            </span>
        </div>
        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">
                {{vm.dailyImage.title}}<i class="material-icons right">close</i>
            </span>
            <p class="flow-text">{{vm.dailyImage.explanation}}</p>
        </div>
    </div>
    
</div>
<div>
    <div class="card-panel teal lighten-1">
        <span class="white-text">
            My favorite photos taken by myself!
        </span>
    </div>

    <div class="card hoverable">
        <div class="card-image">
            <img src="assets/img/baDance.gif" class="responsive-img"></img>
        </div>
        <div class="card-content white-text pink lighten-3">
            <h5>Take a look!</h5>
        </div>
        <div class="card-action pink lighten-5">
            <a href="#!/portafolio">Portafolio</a>
        </div>
    </div>
</div>

<div>
    <div class="card-panel teal lighten-1">
        <span class="white-text">
            If I ever code some libraries >>>
        </span>
    </div>
    <div class="card hoverable">
        <div class="card-image">
            <img src="assets/img/zucc.jpg" class="responsive-img"></img>
        </div>
        <div class="card-content white-text pink lighten-2">
            <h4 class="flow-text align-with-material-icon-div">
                
                Under Construction
                <i class="material-icons">build</i>
            </h4>
        </div>
        <!--<div class="card-action">-->
            <!--<a href="#!/portafolio">Portafolio</a>-->
        <!--</div>-->
    </div>
</div>

<scroll-to-top-btn></scroll-to-top-btn>
